@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    max-height: 100%;
    border-radius: 0.5rem;
}
input, textarea, select{
    @apply border-2 border-gray-400 rounded-md px-1 w-full;
    @apply mb-2;
    @apply font-extralight;
}
input:focus, textarea:focus, select:focus{
    @apply border-emerald-700;
}
h2{
    @apply text-emerald-800 mb-4 text-center text-lg font-mono;
}
h3{
    @apply text-orange-600 mb-2 text-center text-base font-medium;
}
label{
    @apply font-mono;
    @apply text-cyan-700;
}
.btn-primary{
    @apply bg-cyan-800 text-white px-4 py-1 rounded-md;
}
.btn-default{
    @apply bg-slate-400 text-white px-2 py-1 rounded-md;
}
.btn-secondary{
    @apply bg-red-500 text-white px-4 py-1 mr-2 rounded-md;
}

table.basic {
    @apply w-full mt-4;
}

table.basic thead tr td {
    @apply bg-slate-500 text-center text-white;
}

table.basic tr td {
    @apply border-2 bg-slate-200 border-cyan-700 p-2;
}
table.basic a {
    @apply bg-green-500 opacity-90 text-white text-sm rounded-md py-1 px-2 inline-flex gap-1 mr-1;
}